<ion-grid>
    <ion-row justify-content-center>
        <ion-col align-self-center >
            <div text-center>
                <ion-img [src]="'https://via.placeholder.com/350x150.png?text=Exeter+Fit+App'"></ion-img>
            </div>
            <div padding>
                <ion-item>
                    <ion-input [(ngModel)]="username" type="text" placeholder="Username"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
                </ion-item>
            </div>
            <div padding>
                <ion-button (click)="onLogin(username, password)" expand="block">Login</ion-button>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>