
<ion-content [scrollY]="false">
    <div class="backgroundBlack">
    <div class="fixed-content">
        <div class="logoHeader">
            <img alt="logo" src="https://via.placeholder.com/350x150.png?text=Exeter+Fit+App">
        </div>
        <h1 class="loginHeader">COMPANY NAME</h1>
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
            <div padding>
                <ion-input type="text" class="input-access-code" placeholder="Email" formControlName="username"></ion-input>
                <br>
                <ion-input type="password" class="input-access-code" placeholder="Password" formControlName="password"></ion-input>
                <br>
                <div class="login-form">
                    <button expand="block" class="login">{{ 'LOGIN' }}</button>
                </div>
                <p style="text-align:center;color:  #1ABC9C;">-or-</p>
                <div class="create_account">
                    <a href="/register">Create Account</a>​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
                </div>
            </div>
        </form>
    </div>
    </div>
</ion-content>
